Repository lpoaura/gn_vn2synthese, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, documentation, quality, tooling

.github/labeler.yml:

ci-cd:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*", ".github/labeler.yml"]

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/**/*"]

quality:
  - changed-files:
      - any-glob-to-any-file: ["tests/**/*"]

tooling:
  - changed-files:
      - any-glob-to-any-file:
          [".pre-commit-config.yaml", ".vscode/**/*", "pyproject.toml",".sqlfluff"]

code quality
  .pre-commit-config.yaml
  .sqlfluffignore
  01_nomenclatures.sql
  02_metadata.sql
  04_entities.sql
  05_observers.sql
  06_sources.sql
  07_functions.sql
  08_upsert_observations.sql
  10_views.sql
  addons/insert.sql
  addons/update_synthese.sql
Labels: tooling

update changelog
  CHANGELOG.md
Labels: none

precommit
  .pre-commit-config.yaml
  07_functions.sql
  08_upsert_observations.sql
Labels: tooling

v1.4.0
  00_init_db.sql
  01_nomenclatures.sql
  02_metadata.sql
  03_taxonomie.sql
  07_functions.sql
  08_upsert_observations.sql
  09a_init_data_commons.sql
  09b_init_data_nomenclatures.sql
  09c_init_data_metadata.sql
  10_views.sql
  CHANGELOG.md
  addons/exclude_data_out_of_coverd_area.sql
  addons/force_data_update.sql
  datas/scripts_transition_lpoaura/transition_to_vn2synthese.sql
  migrations/1.3.1_to_1.4.0.sql
Labels: none

precommit
  .pre-commit-config.yaml
  00_init_db.sql
  02_metadata.sql
  04_entities.sql
  09a_init_data_commons.sql
  09d_init_data_taxonomie.sql
  addons/update_synthese.sql
  datas/scripts_transition_lpoaura/transition_to_vn2synthese.sql
  migrations/1.3.1_to_1.4.0.sql
Labels: tooling

precommit
  00_init_db.sql
  04_entities.sql
Labels: none

fix #23
  08_upsert_observations.sql
  CHANGELOG.md
  VERSION
Labels: none

fix #11
  02_metadata.sql
  CHANGELOG.md
Labels: none

update changelog
  CHANGELOG.md
Labels: none

fix taxref matching inserts
  .pre-commit-config.yaml
  09d_init_data_taxonomie.sql
  addons/taxref_additions.sql
Labels: tooling

feat taxref_ajout
  09d_init_data_taxonomie.sql
  CHANGELOG.md
  addons/taxref_additions.sql
  migrations/1.4.1_to_1.5.0.sql
Labels: none

fix missing function
  08_upsert_observations.sql
  CHANGELOG.md
  migrations/1.5.0_to_1.5.1.sql
Labels: none

Fix missing organism on user create event trigger
  05_observers.sql
Labels: none

fix ETA_BIO
  .github/workflows/checks.yml
  00_init_db.sql
  01_nomenclatures.sql
  02_metadata.sql
  03_taxonomie.sql
  04_entities.sql
  06_sources.sql
  07_functions.sql
  08_upsert_observations.sql
  09a_init_data_commons.sql
  09c_init_data_metadata.sql
  addons/fix_synchro.sql
  migrations/1.4.1_to_1.5.0.sql
Labels: ci-cd

update version
  VERSION
Labels: none

Upgrade script
  migrations/1.5.1_to_1.5.2.sql
Labels: none

Update changelog
  CHANGELOG.md
Labels: none

fix changelog
  CHANGELOG.md
Labels: none

New fix synchro scripts
  addons/fix_synchro.sql
  addons/fix_synchro/README.md
  addons/fix_synchro/fix_synchro.sql
  addons/fix_synchro/transfer_vn_full_2w.sh
Labels: none
